Source: stsbl-iserv-apache-basic-authentification
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper-compat (= 13),
               dh-sequence-iserv,
               dh-sequence-stsbl,
Standards-Version: 4.5.0
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-apache-basic-authentification
Architecture: all
Depends: iserv-portal,
         libapache2-mod-authnz-external,
         libio-prompter-perl,
         stsbl-iserv-perl-lib,
         ${misc:Depends},
         ${perl:Depends}
Xb-Private-Iserv-Revision: ${iserv:Revision}
Description: IServ Apache - HTTP-Authentifizierung
 Erlaubt die HTTP Basic Authentifizierung für zusätzliche eigene Websiten,
 die auf dem Portalserver laufen gegen die IServ-Benutzerdatenbank.
Tag: suite::iserv:portal, role::plugin
