Source: stsbl-iserv-apache-basic-authentification
Section: misc
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>= 9), iserv3-dev
Standards-Version: 3.9.5

Package: stsbl-iserv-apache-basic-authentification
Architecture: all
Depends: iserv-portal, stsbl-iserv-perl-lib, libio-prompter-perl, libapache2-mod-authnz-external
Description: IServ Apache - HTTP-Authentifizierung
 Erlaubt die HTTP Basic Authentifizierung für zusätzliche eigene Websiten, 
 die auf dem Portalserver laufen gegen die IServ-Benutzerdatenbank.
Tag: suite::iserv:portal, role::plugin
